common:
    - key: controller_mode_service
      name: /controller_api/controller_mode
      type: controller_interfaces/srv/WorkMode
      kind: service

    - key: motor_control_service
      name: /controller_api/motor_control
      type: controller_interfaces/srv/MotorControl
      kind: service

    - key: running_status
      name: /controller_api/running_status
      type: std_msgs/msg/String
      kind: input_topic


controllers:
  - key: SystemStart
    class: SystemStartController
    
  - key: HoldState
    class: HoldStateController

  - key: JointVelocity
    class: JointVelocityController
    input_topic:
      name: /controller_api/joint_velocity_action/{mapping}
      type: sensor_msgs/msg/JointState

  - key: CartesianVelocity
    class: CartesianVelocityController
    input_topic:
      name: /controller_api/cartesian_velocity_action/{mapping}
      type: geometry_msgs/msg/Twist

  - key: Move2Initial
    class: Move2InitialController

  - key: Move2Start
    class: Move2StartController

  - key: ROS2ActionControl
    class: ROS2ActionControlController

  - key: MoveC
    class: MoveCController
    input_topic:
      name: /controller_api/movec_action/{mapping}
      type: geometry_msgs/msg/PoseArray

  - key: MoveJ
    class: MoveJController
    input_topic:
      name: /controller_api/movej_action/{mapping}
      type: sensor_msgs/msg/JointState
      
  - key: MoveL
    class: MoveLController
    input_topic:
      name: /controller_api/movel_action/{mapping}
      type: geometry_msgs/msg/Pose

  - key: PointRecord
    class: PointRecordController
    input_topics:
      - name: /controller_api/point_record_action/{mapping}
        type: std_msgs/msg/String
      - name: /controller_api/point_record_control/{mapping}
        type: std_msgs/msg/String
  # - key: PointReplay
  #   class: PointReplayController
  #   input_topic:
  #     name: /controller_api/point_replay_action
  #     type: std_msgs/msg/String

  - key: TrajectoryRecord
    class: TrajectoryRecordController
    input_topics:
      - name: /controller_api/trajectory_record_action/{mapping}
        type: std_msgs/msg/String
      - name: /controller_api/trajectory_record_control/{mapping}
        type: std_msgs/msg/String

  - key: TrajectoryReplay
    class: TrajectoryReplayController
    input_topics:
      - name: /controller_api/trajectory_replay_action/{mapping}
        type: std_msgs/msg/String
      - name: /controller_api/trajectory_replay_control/{mapping}
        type: std_msgs/msg/String

# MoveIt 速度缩放参数
# 全局默认值（0.0~1.0）
velocity_scaling_factor: 1.0
acceleration_scaling_factor: 1.0

# 各控制器专用参数（0.0~1.0）
movej:
  velocity_scaling_factor: 0.8
  acceleration_scaling_factor: 0.8

movel:
  velocity_scaling_factor: 0.5
  acceleration_scaling_factor: 0.5

movec:
  velocity_scaling_factor: 0.3
  acceleration_scaling_factor: 0.3
